<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<h2>회원가입</h2>

<form th:action="@{/signup}" th:object="${signupRequest}" method="post">

    <div>
        <label>이메일(ID)</label>
        <input type="email" th:field="*{email}" required>
    </div>

    <div>
        <label>비밀번호</label>
        <input type="password" th:field="*{password}" required>
    </div>

    <div>
        <label>이름</label>
        <input type="text" th:field="*{name}" required>
    </div>

    <div>
        <label>주민번호</label>
        <input type="text" th:field="*{residentNumber}" placeholder="901010-1234567" required>
    </div>

    <div>
        <label>핸드폰 번호</label>
        <input type="text" th:field="*{phone}" required>
    </div>

    <button type="submit">회원가입</button>

</form>

</body>
</html>
